altgraph==0.17.4
dnspython==2.6.1
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pillow==10.4.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pymongo==4.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
schedule==1.2.2
six==1.16.0
tzdata==2024.1
XlsxWriter==3.2.0
